<html>
    <head>
        <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
    </head>
    <body>
        <h1>coba</h1>
        <form action="/addData" method="post">
            <label for="nama">Nama :</label>
            <input type="text" name="nama" required>
            <label for="nim">Nim</label>
            <input type="text" name="nim" required>
            <input type="submit" name="submit">
        </form>
    </body>
</html>